.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js
/public/css
/public/build
/public/mix-manifest.json
/resources/js/vue-i18n-locales.generated.js
